<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="font/iconfont.css">
    <link rel="stylesheet" href="Document_1.css">
    <title>Document</title>
</head>
<body>
    <nav class="nav">
        <ul>
            <li>
                <div class="iconfont">&#xe686;</div>
                <div>会员开卡</div>
            </li>

            <li>
                <div class="iconfont">&#xe680;</div>
                <div>会员充值</div>
            </li>

            <li>
                <div class="iconfont">&#xe646;</div>
                <div>会员查询</div>
            </li>

            <li>
                <div class="iconfont">&#xe634;</div>
                <div>补卡换卡</div>
            </li>

            <li>
                <div class="iconfont">&#xe787;</div>
                <div>退卡销户</div>
            </li>

            <li>
                <div class="iconfont">&#xe601;</div>
                <div>挂失启用</div>
            </li>

            <li>
                <div class="iconfont">&#xe629;</div>
                <div>营业明细</div>
            </li>

            <li>
                <div class="iconfont">&#xe68b;</div>
                <div>发卡充值明细</div>
            </li>

            <li>
                <div class="iconfont">&#xe602;</div>
                <div>品项销售明细</div>
            </li>

            <li>
                <div class="iconfont">&#xe628;</div>
                <div>营业日结</div>
            </li>

            <li>
                <div class="iconfont">&#xe646;</div>
                <div>退出登录</div>
            </li>
        </ul>
    </nav>
</body>
</html>