*{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

ul,ol,dl {
    list-style: none;
}

body{
    font-family: SimSun, Arial, "Arial Narrow", HELVETICA;
}

.header{
    width: 1000px;
    margin: 0 auto;
}

.header .top{
    height: 51px;
    padding-top: 19px;
}

.header .top .logo{
    width: 131px;
    height: 35px;
    float: left;
}

.header .top .search{
    width: 471px;
    height: 30px;
    margin: 0 auto;
    border: solid 1px rgb(223, 223, 223);
    border-radius: 20px;
    background: #f3f6f8;
    position: relative;
}

.header .top .search .category{
    width: 68px;
    height: 30px;
    font-size: 14px;
    line-height: 30px;
    float: left;
    cursor: pointer;
    font-family: SimSun, Arial, "Arial Narrow", HELVETICA;
    position: relative;
}

.header .top .search .category .default{
    float: left;
    margin-left: 19px;
}

.header .top .search .category  i{
    margin-left: 8px;
    font-size: 13px;
    font-weight: bold;
    color: #999;
}


.header .top .search .category  ul{
    width: 68px;
    text-align: center;
    background: #fff;
    position: absolute;
    left: 0;
    top: 31px;
    z-index: 1;
    color: #a8a8a8;
    line-height: 30px;
    cursor: default;
    display: none;
}

.header .top .search .category  ul li{
    width: 68px;
    height: 30px;
    position: relative;
}

.header .top .search .category  ul li a{
    display: block;
    float: left;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    border-bottom: solid 3px #fff;
}

.header .top .search .category .selected{
    color:#404040;
    border-bottom-color: #f2630a;
}

.header .top .search form{
    float: left;
}

.header .top .search form .text{
    width: 287px;
    height: 22px;
    padding: 4px 10px;
    float: left;
    outline: none;
    border: none;
    background: #f3f6f8;
    font-size: 14px;
}

.header .top .search form .submit{
    width: 95px;
    height: 32px;
    position: absolute;
    right: -1px;
    top: -1px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    line-height: 32px;
    background: #1479d7;
    color: #fff;
    outline: none;
    cursor: pointer;
}

.header .top .function{
    width: 120px;
    height: 40px;
    float: right;
}

.header .top .function .qzone{
    width: 35px;
    height: 40px;
    background-image: url('img/icons_2x.png');
    background-size: 170%;
    background-position: 0px -93px;
    float: left;
    cursor: pointer;
}

.header .top .function .qzone:hover{
    background-position: 0px -145px;

}

.header .top .function .qzone a{
    display: block;
    width: 100%;
    height: 100%;
}

.header .top .function .mailbox{
    width: 35px;
    height: 40px;
    margin-left: 7px;
    background: url('img/icons_2x.png');
    background-size: 170%;
    background-position: 0px -187px;
    float: left;
    cursor: pointer;
}

.header .top .function .mailbox:hover{
    background-position: 0px -238px;

}

.header .top .function .mailbox a{
    display: block;
    width: 100%;
    height: 100%;
}

.header .top .function .login-btn{
    width: 35px;
    height: 35px;
    border: solid 1px rgb(237, 237, 237);
    background: #f5f5f5;
    color: #60a5e4;
    font-size: 14px;
    text-align: center;
    line-height: 35px;
    float: right;
    margin-right: 3px;
    cursor: pointer;
}

.header .top .function .login-btn a{
    display: block;
    width: 100%;
    height: 100%;
}

.header .top .function .login-btn:hover{
    border-color:  #cae0f3;
}

.header .nav{
    height: 45px;
    background: #1479d7;
    border-radius: 3px;
    color: #fff;
    line-height: 45px;
    position: relative;
    display: flex;
}

.header .nav>ul{
    flex: 16;
    height: 45px;
    margin-left: 9px;
    display: flex;
}

.header .nav>ul li{
    flex: 1;
    text-align: center;
}

.header .nav>ul li a{
    padding: 4px 5px;
}

.header .nav>ul li a:hover{
    color: #14539a;
    background-color: #cbe1ed;
}

.header .nav .more{
    flex: 1;
    margin: 0 10px;
    height: 45px;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    cursor: pointer;
}

.header .nav .more i{
    font-weight: bold;
    font-size: 14px;
}

.header .nav .more-content{
    width: 978px;
    height: 64px;
    padding: 13px 10px;
    position: absolute;
    left: 0;
    top: 45px;
    color: #000;
    font-size: 16px;
    background: #f9fbfc;
    border: solid 1px rgb(233,233,233);
    border-top: none;
    box-shadow: 0px 5px 10px 0px #ccc;
    display: none;
    z-index: 1;
}



.header .nav .more-content ul li{
    width: 57px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    float: left;
    color: #455569;
}

.header .nav .more-content ul li a:hover{
    color: #0c82ff;
}

.header .banner{
    height: 81px;
    margin-top: 20px;
}

.header .banner .img{
    width: 663px;
    height: 54px;
    float: left;
}

.header .banner .wheel{
    width: 326px;
    height: 54px;
    float: right;
    overflow: hidden;
    position: relative;
}

.header .banner .wheel .wheel-spot{
    position: absolute;
    left: 65%;
    top: 5px;
    overflow: hidden;
}

.header .banner .wheel .wheel-spot li{
    width: 4px;
    height: 4px;
    float: left;
    background: #c3cbd6;
    border-radius: 50%;
    margin: 0px 2px;
    cursor: pointer;
}

.header .banner .wheel .wheel-spot .active{
    background: #6c8fbc;
}

.show{
    display: block;
}

.hide{
    display: none;
}

.bold{
    font-weight: bold;
}

.first-news{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 4px;
    margin-top: 13px;
}

.content{
    width: 1000px;
    margin: 0 auto;
    font-size: 12px;
    color: #333;
}

.content a:hover{
    color: #0c82ff;
}

.content li{
    height: 28px;
    line-height: 28px;
    white-space: normal;
    overflow: hidden;
}

.content .left{
    width: 325px;
    float: left;
    margin-right: 11px;
    overflow: hidden;
}

.content .left .tab-head{
    height: 43px;
    line-height: 40px;
    border-bottom: solid 1px rgb(202, 224, 243);
}

.content .left .tab-head .big-news{
    font-size: 16px;
    margin-right: 10px;
    cursor: pointer;
    float: left;
}

.content .left .tab-head .separator{
    float: left;
    color: #e1e1e1;
    font-size: 16px;
}

.content .left .tab-head .local-news{
    font-size: 16px;
    margin-left: 11px;
    float: left;
    cursor: pointer;
}

.content .left .tab-head .slected{
    color: #0c82ff;
    border-bottom: solid 4px rgb(20, 121, 215);
}

.content .left .tab-head .weather{
    line-height: 46px;
    cursor: pointer;
    float: right;
}

.content .left .tab-head .weather .img img{
    vertical-align: middle;
}

.content .left .tab-head .weather span{
    display: inline-block;
    margin-left: 6px;
}

.content .left .img-news{
    height: 89px;
    margin: 18px 0px;
}

.content .left .img-news .img{
    width: 158px;
    height: 89px;
    float: left;
    border-radius: 5px;
    overflow: hidden;
}

.content .left .img-news .img img{
    width: 158px;
    min-height: 89px;
}

.content .left .img-news .text{
    width: 158px;
    height: 89px;
    margin-left: 10px;
    line-height: 20px;
    float: left;
    position: relative;
}

.content .left .img-news .text p:nth-child(2
    ){
    position: absolute;
    left: 0;
    bottom: 0;
    color: #64788c;
}

.content .center{
    float: left;
    width: 325px;
    overflow: hidden;
}

.content .center .tab-head{
    height: 43px;
    line-height: 40px;
    border-bottom: solid 1px rgb(202, 224, 243);
    font-size: 16px;
}

.content .center .tab-head .slected{
    margin-right: 10px;
    cursor: pointer;
    float: left;
    color: #0c82ff;
    border-bottom: solid 4px rgb(20, 121, 215);
}

.content .center .tab-content ul li span{
    color: #e9e9e9;
    padding-right: 5px;
}

.content .center .tab-content ul li .bold{
    color: #253e6d;
}

.content .center .tab-content ul > .img{
    height: 36px;
    overflow: hidden;
    margin-top: 5px;
    background: url('img/hd_bg.png') no-repeat;
    background-position: 0px 19px ;
}

.content .center .img-news{
    height: 89px;
    margin: 5px 0px 16px;
}

.content .center .img-news .img{
    width: 158px;
    height: 89px;
    float: left;
    border-radius: 5px;
    overflow: hidden;
}

.content .center .img-news .img img{
    width: 158px;
    min-height: 89px;
}

.content .center .img-news .text{
    width: 158px;
    height: 89px;
    margin-left: 10px;
    line-height: 20px;
    float: left;
    position: relative;
}

.content .center .img-news .text p:nth-child(2
    ){
    position: absolute;
    left: 0;
    bottom: 0;
    color: #64788c;
}

.content .right{
    width: 325px;
    float: right;
    position: relative;
}

.flexible-warp{
    width: 337px;
    float: right;
}

.content .right .product{
    width: 325px;
    font-size: 12px;
    float: right;
    position: relative;
    margin: 13px 0 9px;
    background: #fff;
}

.content .right .product .flexible{
    width: 12px;
    height: 30px;
    position: absolute;
    left: -13px;
    top: 0px;
    border: solid 1px rgb(202, 224, 243);
    line-height: 30px;
    text-align: left;
    font-size: 12px;
    font-weight: bold;
    color: #0c82ff;
    cursor: pointer;
}

.content .right .product:hover  .flexible{
    border-color: #0f82ff;
    background: #0f82ff;
    color: #fff;
}

.content .right .product>ul{
    border-top: solid 1px rgb(202, 224, 243);
}

.content .right .product>ul>li{
    height: 30px;
    line-height: 32px;
    border: solid 1px rgb(202, 224, 243);
    margin-top: -1px;
}

.content .right .product>ul>li:nth-child(1){
    background-image: url('img/icons_2x.png');
    background-size: 60px;
    background-repeat: no-repeat;
    background-position: right -294px;
    position: relative;
}

.content .right .product>ul>li:nth-child(1)>ul>li{
    margin-right: 13px;
}

.content .right .product>ul>li:nth-child(2)>ul>li{
    margin-right: 10px;
}

.content .right .product>ul>li:nth-child(3)>ul>li{
    margin-right: 8px;
}

.content .right .product>ul>li:nth-child(4)>ul>li{
    margin-right: 8px;
}

.content .right .product>ul>li:nth-child(2){
    background: #F4F8FC;
    background-image: url('img/icons_2x.png');
    background-size: 60px;
    background-repeat: no-repeat;
    background-position: right -344px;
    position: relative;
}

.content .right .product>ul>li:nth-child(3){
    background-image: url('img/icons_2x.png');
    background-size: 60px;
    background-repeat: no-repeat;
    background-position: right -390px;
    position: relative;
}

.content .right .product>ul>li:nth-child(4){
    background: #F4F8FC;
    background-image: url('img/icons_2x.png');
    background-size: 60px;
    background-repeat: no-repeat;
    background-position: right -444px;
    position: relative;
}

.content .right .product>ul>li>ul:last-child{
    width: 315px;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0px;
}

.content .right .product>ul>li>ul:last-child li{
    float: left;
}

.content .right .product>ul>li>ul:first-child{
    width: 319px;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 325px;
}

.content .right .product>ul>li>ul:first-child li{
    float: right;
}

.highlight{
    display: inline-block;
    background:#b5ccec; 
    color: #fff;
    line-height: 18px;
    padding: 0px 5px;
    border-radius: 20px;
}

.content .right .sports-news{
    clear: both;
}

.content .right .sports-news .head{
    height: 45px;
    line-height: 42px;
    border-bottom: solid 1px rgb(202, 224, 243);
    margin-bottom: 18px;
    background: url('img/icons_2x.png');
    background-size: 66px;
    background-repeat: no-repeat;
    background-position: 250px -1083px;
}

.content .right .sports-news .head .title{
    font-size: 16px;
    margin-right: 10px;
    cursor: pointer;
    float: left;
    color: #0c82ff;
    border-bottom: solid 3px rgb(20, 121, 215);
}

.content .right .sports-news .head .desc{
    line-height: 45px;
}

.content .right .sports-news .head .desc a:first-child{
    color: #0c82ff;
}

.content .right .sports-news .head .desc span{
    color: #e1e1e1;
}

.content .right .sports-news .head .desc a:last-child{
    color: #64788c;
}

.content .right .sports-news .img{
    border-radius: 5px;
    overflow: hidden;
    height: 183px;
    position: relative;
    cursor: pointer;
}

.content .right .sports-news .img .desc{
    position: absolute;
    bottom: 15px;
    left: 10px;
    color: #fff;
}


@media screen and (min-width: 1250px) {
    .header{
        width: 1240px;
    }

    .header .top{
        height: 57px;
        padding-top: 23px;
    }

    .header .top .search{
        width: 498px;
        height: 32px;
    }

    .header .top .search .category{
        height: 32px;
        line-height: 32px;
    }

    .header .top .search form .submit{
        width: 110px;
        height: 34px;
    }

    .header .top .search form .text{
        width: 300px;
        height: 24px;
    }

    .header .nav{
        height: 50px;
        font-size: 18px;
        line-height: 50px;
    }

    .header .nav>ul{
        margin-left: 20px;
    }

    .header .nav .more{
        height: 50px;
        line-height: 50px;
        font-size: 18px;
        margin: 0 20px 0px 10px;
    }

    .header .nav .more-content{
        width: 1200px;
        height: 65px;
        padding: 13px 19px;
        top: 50px;
        font-size: 18px;
    }

    .header .nav .more-content ul li{
        width: 70px;
        height: 32px;
        line-height: 32px;
    }

    .header .banner{
        margin-top: 30px;
        height: 95px;
    }

    .header .banner .img{
        width: 815px;
        height: 66px;
    }

    .header .banner .wheel{
        width: 390px;
        height: 66px;
    }

    .content{
        width: 1240px;
        font-size: 14px;
    }

    .content .left{
        width: 390px;
        margin-right: 35px;
    }

    .content .center{
        width: 390px;
    }

    .content .right{
        width: 390px;
    }

    .content li{
        height: 32px;
        line-height: 32px;
    }

    .first-news{
        font-size: 16px;
        height: 32px;
        margin: 15px 0 5px;
    }

    .content .left .tab-head .big-news{
        font-size: 20px;
        margin-right: 15px;
    }

    .content .left .tab-head .separator{
        font-size: 20px;
    }

    .content .left .tab-head .local-news{
        font-size: 20px;
        margin-left: 16px;
    }


    .content .left .tab-head .weather{
        line-height: 42px;
    }

    .content .left .img-news{
        width: 390px;
        height: 106px;
        margin: 21px 0;
    }

    .content .left .img-news .img{
        width: 188px;
        height: 106px;
    }

    .content .left .img-news .img img{
        width: 188px;
        min-height: 106px;
    }

    .content .left .img-news .text{
        margin-left: 15px;
        height: 106px;
    }

    .content .center .tab-head{
        font-size: 20px;
    }

    .content .center .tab-content ul>.img img{
        height: 50px;
    }

    .content .center .img-news{
        height: 106px;
        margin: 10px 0 21px;
    }

    .content .center .img-news .img{
        width: 188px;
        height: 106px;
    }

    .content .center .img-news .img img{
        width: 188px;
        min-height: 106px;
    }

    .content .center .img-news .text{
        height: 106px;
        margin-left: 15px;
    }
    
    .content .right .sports-news .img{
        height: 220px;
    }

    .content .right .sports-news .head .title{
        font-size: 20px;
        margin-right: 20px;
    }

    .content .right .product{
        width: 390px;
    }

    .flexible-warp{
        width: 402px;
    }

    .content .right .product{
        width: 390px;
    }

    .content .right .product>ul>li{
        height: 35px;
        line-height: 37px;
    }

    .content .right .product>ul>li:nth-child(1)>ul>li{
        margin-right: 23px;
    }

    .content .right .product>ul>li:nth-child(2)>ul>li{
        margin-right: 20px;
    }

    .content .right .product>ul>li:nth-child(3)>ul>li{
        margin-right: 18px;
    }

    .content .right .product>ul>li:nth-child(4)>ul>li{
        margin-right: 18px;
    }

    .content .right .product>ul>li>ul:last-child{
        width: 378px;
    }

    .content .right .product>ul>li>ul:first-child{
        width: 378px;
        right: 390px;
    }

    .content .right .product>ul>li>ul>li{
        height: 35px;
        line-height: 35px;
    }

    .highlight{
        padding: 2px 7px;
    }
}

